<h4>Importing Libraries</h4>

In [22]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

<h4>Making A Dataframe on which k-means clustering is Performed</h4>

In [23]:
X1=[1,1,0,2,5,6,4,5]
X2=[4,3,4,5,1,2,0,2]
G=[1,1,2,2,1,2,1,2]

data=pd.DataFrame(list(zip(X1, X2, G)),columns=['X1','X2','G'])

In [24]:
data

   X1  X2  G
0   1   4  1
1   1   3  1
2   0   4  2
3   2   5  2
4   5   1  1
5   6   2  2
6   4   0  1
7   5   2  2

In [25]:
#Clustering is performed based on Euclidean Distance
def euc_dist(one,two):
    dist=np.square(one-two)
    dist=sum(dist)
    dist=np.sqrt(dist)
    dist=round(dist, 2)
    return dist

In [26]:
x=data.index
store_data=pd.DataFrame(columns=x)
zero_series=pd.Series(np.zeros(len(x)))
for i in range(len(x)):
    store_data=store_data.append(pd.Series(),ignore_index=True)

In [27]:
#Dataframe store_data is created to store initial euclidean distances between data points
store_data

     0    1    2    3    4    5    6    7
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [28]:
#Save euclidean distance between data points in Dataframe
def make_table(data):
    x=data.index
    store_data=pd.DataFrame(columns=x)
    zero_series=pd.Series(np.zeros(len(x)))
    for i in range(len(x)):
        store_data=store_data.append(pd.Series(),ignore_index=True)
    for i in range(len(data)):
        d=data.iloc[i,:]
        new_data=data.iloc[(i+1):,:]
        lst=new_data.index.tolist()
        for j in lst:
            var=new_data.loc[j,:]
            diff=euc_dist(d,var)
            store_data.loc[i,j]=diff
            store_data.loc[j,i]=diff

    return store_data

In [29]:
#Perform Single Link Hierarchical CLustering
def single_link(table):
    x=table.min().idxmin()
    y_series=table.loc[table.min().idxmin(),:]
    y=y_series[y_series==y_series.min()].index.tolist()
    y=y[0]
    index_val=table.index.tolist()
    index_val.remove(x)
    index_val.remove(y)
    index_val.append('['+str(x)+','+str(y)+']')
    new_table=pd.DataFrame(columns=index_val)
    for i in range(len(index_val)):
        new_table=new_table.append(pd.Series(name=index_val[i]))
    new_index=index_val.copy()
    for i in index_val:
        if i!='['+str(x)+','+str(y)+']':
            d=table.loc[i,:]
        new_index.remove(i)
        for j in new_index:
            if (i!='['+str(x)+','+str(y)+']') and (j!='['+str(x)+','+str(y)+']'):
                var=table.loc[j,:]
                new_table.loc[i,j]=table.loc[i,j]
                new_table.loc[j,i]=table.loc[j,i]
            else:
                new_val=table.loc[i,x]  if table.loc[i,x] < table.loc[i,y] else table.loc[i,y]
                new_table.loc[i,j]=new_val
                new_table.loc[j,i]=new_val
    return new_table

In [30]:
#Perform Hierarchical CLustering until the final cluster is found
def hier_cluster(data):
    table=make_table(data)
    while len(table)>1:
        table=single_link(table)
        print(table)
    return table

In [31]:
table=hier_cluster(data)

          2     3     4     5     6     7 [0,1]
2       NaN  2.24  5.92  6.32  5.74  5.39  1.41
3      2.24   NaN   5.1     5  5.48  4.24  1.73
4      5.92   5.1   NaN  1.73  1.41  1.41  4.47
5      6.32     5  1.73   NaN     3     1   5.2
6      5.74  5.48  1.41     3   NaN  2.45  4.24
7      5.39  4.24  1.41     1  2.45   NaN  4.24
[0,1]  1.41  1.73  4.47   5.2  4.24  4.24   NaN
          2     3     4     6 [0,1] [5,7]
2       NaN  2.24  5.92  5.74  1.41  5.39
3      2.24   NaN   5.1  5.48  1.73  4.24
4      5.92   5.1   NaN  1.41  4.47  1.41
6      5.74  5.48  1.41   NaN  4.24  2.45
[0,1]  1.41  1.73  4.47  4.24   NaN  4.24
[5,7]  5.39  4.24  1.41  2.45  4.24   NaN
              3     4     6 [5,7] [2,[0,1]]
3           NaN   5.1  5.48  4.24      1.73
4           5.1   NaN  1.41  1.41      4.47
6          5.48  1.41   NaN  2.45      4.24
[5,7]      4.24  1.41  2.45   NaN      4.24
[2,[0,1]]  1.73  4.47  4.24  4.24       NaN
              3 [5,7] [2,[0,1]] [4,6]
3           NaN  4.24      1.73   5.1
[5,7]      4.24   NaN      4.24  1.41
[2,[0,1]]  1.73  4.24       NaN  4.24
[4,6]       5.1  1.41      4.24   NaN
                  3 [2,[0,1]] [[5,7],[4,6]]
3               NaN      1.73          4.24
[2,[0,1]]      1.73       NaN          4.24
[[5,7],[4,6]]  4.24      4.24           NaN
              [[5,7],[4,6]] [3,[2,[0,1]]]
[[5,7],[4,6]]           NaN          4.24
[3,[2,[0,1]]]          4.24           NaN
                              [[[5,7],[4,6]],[3,[2,[0,1]]]]
[[[5,7],[4,6]],[3,[2,[0,1]]]]                           NaN

In [32]:
table

                              [[[5,7],[4,6]],[3,[2,[0,1]]]]
[[[5,7],[4,6]],[3,[2,[0,1]]]]                           NaN

In [33]:
#Final Cluster
print(table.index[0])

[[[5,7],[4,6]],[3,[2,[0,1]]]]